@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

body {
    font-family: "Crimson Text", serif; 
    background-image: url(/img/elfos.png);
    background-color: rgba(0, 0, 0, 0.753); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    margin: 0%;
}

section {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    margin-bottom: 3rem; 
}

.pesquisa {
  display: flex;
  justify-content: center;
  text-align: center;
}

.titulo-inicial {
  font-size: 2.5rem; 
  color: rgb(234,205,173);
  text-align: center; 
  letter-spacing: 0.4rem; 
}

.item-resultado {
  height: 12rem;
  width: 80rem;
  text-align: justify;
  background: rgb(70,32,31, 0.5);
  border-radius: 0.6rem; 
  padding: 1.5rem;
  margin-bottom: 4rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.-item1 {
  height: 20rem;
  width: 80rem;
}

.-item2 {
  height: 25rem;
  width: 80rem;
}

.item-resultado h2 {
  margin-top: 2rem;
  font-size: 2rem;
  text-align: center;
  color: rgb(198,159,133); 
}

.item-resultado p, li {
  display: flex;
  align-items: center;
  text-align: justify;
  list-style: none;
  line-height: 1.5rem;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.8);
}

ul li strong::after {
  content: " ";
  margin-left: 5px;
}

ul li {
  line-height: 1.5;
}

footer {
  background-color: rgb(88, 89, 65, 0.7);
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  padding: 0;
  width: 100%;
  position: relative; 
  bottom: 0; 
  font-size: 1rem; 
}